<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlO4yeLkJUZ3qXCE9R3z_U3i3-x7nPsOw</string>
	<key>GCM_SENDER_ID</key>
	<string>679091342765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stevehu.luffyFocus</string>
	<key>PROJECT_ID</key>
	<string>luffy-focus</string>
	<key>STORAGE_BUCKET</key>
	<string>luffy-focus.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679091342765:ios:ed15bad52893d3cbaf2524</string>
</dict>
</plist>
